<div class="container">
    <div class="sub_container">
        <div class="cards_sec">
            <ng-container *ngFor="let item of i">

                <app-card [i]="item"></app-card>

            </ng-container>
        </div>
    </div>
    <div class="sorry">
        <ng-container *ngFor="let imageUrl of imageUrls">
            <img [src]="imageUrl" alt="">
          </ng-container>
        <ng-container *ngFor="let imageUrl of imageUrls1">
            <img [src]="imageUrl" alt="">
          </ng-container>
       </div>
</div>